/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(assets/number-line-color-signage-candlestick-chart-1204308-pxhere.com.jpg);
    background-size: cover;
    font-family: "Roboto Condensed", Arial, sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
